<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email generator with API</title>

    <!-- css -->
    <link rel="stylesheet" href="./css/style.css">

    <!-- vue js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div id="app">
        <h1>Emails list</h1>
        <ol v-if="mails.length === 10">
            <li v-for="curMail in mails">{{curMail}}</li>
        </ol>
    </div>

    <!-- axios -->
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.8/axios.min.js"
        integrity="sha512-PJa3oQSLWRB7wHZ7GQ/g+qyv6r4mbuhmiDb8BjSFZ8NZ2a42oTtAq5n0ucWAwcQDlikAtkub+tPVCw4np27WCg=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>

    <!-- custom script -->
    <script src="./js/app.js"></script>
</body>

</html>